a.nav-link {
    display: inline-block;
    color: rgba(103, 104, 167, 0.75);
}

a.nav-link:hover {
    color: white;
}

a.nav-link.active {
    color: white;
}
a.nav-link-logout.active {
    color: white;
}
a.nav-link-logout {
    position: absolute;
   right: 0;
  
    
    display: inline-block;
    color: rgba(103, 104, 167, 0.75);
}

a.nav-link-logout:hover {
    color: white;
}
.navbar-custom {
    background-color: lightgreen;
}
.navbar-custom span {
    color: #ac1212;
}

.space-top {
    margin-top: 2em;
}



.card-blockquote>img {
    width: 100%;
}

.card {
    margin-bottom: 1em;
}

.selected {
	background: #666666;
}

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 220px;
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.scroll
{
    max-height: 100%;
    overflow-y: scroll;
}
.postovi{
    height: 70vh;
}
